

        <header>

            <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
            <div class="overlay"></div>
          
            <!-- The HTML5 video element that will create the background video on the header -->
            <!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
              <source src="https://www.youtube.com/embed/G5RpJwCJDqc?controls=0&autoplay=1&mute=1&&cc_load_policy=0" type="video/mp4">
            </video>
           -->
            <iframe 
         
              src="https://www.youtube.com/embed/ylynqmzt53w?controls=0&autoplay=1&mute=1&&cc_load_policy=0" 
              iv_load_policy="3"
              title="YouTube video player" 
              frameborder="0"
               allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        
        
            <!-- The header content -->
            <div class="container h-100">
              <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                  <h1 class="display-3">EN CONSTRUCTION</h1>
                  <p class="lead mb-0">Coming Soon</p>
                </div>
              </div>
            </div>
          </header>
          
          <!-- Page section example for content below the video header -->
          <section class="my-5">
            <div class="container">
              <div class="row">
                <div class="col-md-8 mx-auto">
                  <p>TLB est un site de review de films !</p>
                  <p>Créez vous un compte, parcourez la liste des films en quête de ceux que vous avez déjà vu, et donnez-leurs une notes ! Ajoutez votre note à la celle de tous les autres utilisateurs, définissant ainsi la note des films proposés tous ensembles. Vous ne trouvez pas un film en particulier ? Pas de panique, vous pouvez l'ajouter vous-même une fois connecté <a routerLink="/addMovie"> juste ici.</a></p>
                  <p class="mb-0">
                    Created by <a href="#">Mondher</a>
                  </p>
                </div>
              </div>
            </div>
          </section>