<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.min.css" integrity="sha256-nwNjrH7J9zS/Ti4twtWX7OsC5QdQHCIKTv5cLMsGo68=" crossorigin="anonymous" />
<div class="container">
    <div class="row justify-content-center">
        
        <div class="col-lg-8 col-md-10 col-12">
          <h1>Changelog</h1>
            <h5 class="mt-4"> <span class="p-2 bg-light shadow rounded text-success"> Version 1.06</span> - 14 Janvier 2023</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Modification de profil</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Ajout de section changelog</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Photos de couvertures</li>
            </ul>

            <h5 class="mt-4"> <span class="p-2 bg-light shadow rounded text-success"> Version 1.05</span> - 18 Décembre 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Réduction de la taille des affiches</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Ajout du tri par note et alphabétique</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Correction de la connexion</li>
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Taille de résumé augmenté de <b>600</b> à <b>1000</b> caractères</li>
            </ul>     

            <h5 class="mt-4"> <span class="p-2 bg-light shadow rounded text-success"> Version 1.0.0</span> - 15 Novembre 2022</h5>
            <ul class="list-unstyled mt-3">
                <li class="text-muted ml-3"><i class="mdi mdi-circle-medium mr-2"></i>Sortie initiale</li>
            </ul>
          

       
        </div><!--end col-->
    </div><!--end row-->
</div>