<div class="grid-conteneur">
  <div class="gridi-item0"> 
    <div class="d-flex ">
      <div>
        <img class=" affiche" src="{{movie.posterURL}}"><br>
        <div class="themes">
          <div *ngFor="let t of movie.themes" class="tagbox">
            <div class="tagbox {{t}}">{{t}}</div> 
            </div>
          </div>
          
      </div>
    
   </div>
  </div>
    <div class="grid-item"> 
      <div class="d-flex bd-highlight">
        <div >
          <h1 class="titre">{{movie.titre}}</h1>
          <div class="row">
         
            <div class="col">
             
              <youtube-player 
              #player
              [videoId]="videoId"
              (ready)="onReady()"
              (stateChange)="onStateChange($event)"
            ></youtube-player>
            <h3 class="ipc-title__text">Synopsis<span class="ipc-title__subtext"></span><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="ipc-icon ipc-icon--chevron-right-inline ipc-icon--inline ipc-title-link ipc-title-link-chevron ipc-title--nomargin" id="iconContext-chevron-right-inline" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M5.622.631A2.153 2.153 0 0 0 5 2.147c0 .568.224 1.113.622 1.515l8.249 8.34-8.25 8.34a2.16 2.16 0 0 0-.548 2.07c.196.74.768 1.317 1.499 1.515a2.104 2.104 0 0 0 2.048-.555l9.758-9.866a2.153 2.153 0 0 0 0-3.03L8.62.61C7.812-.207 6.45-.207 5.622.63z"></path></svg></h3>

            <p style="text-align: left;">{{movie.description}}</p>
            <ul class="infos">
              <li class="ligne">Réalisation <a  class="lien">{{movie.realisateur}}</a> </li>
              <li class="ligne">Année de sortie <a class="lien">{{movie.anneeSortie}}</a></li>
            </ul>
            <h3 class="ipc-title__text">Avis des utilisateurs<span class="ipc-title__subtext"></span><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" class="ipc-icon ipc-icon--chevron-right-inline ipc-icon--inline ipc-title-link ipc-title-link-chevron ipc-title--nomargin" id="iconContext-chevron-right-inline" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M5.622.631A2.153 2.153 0 0 0 5 2.147c0 .568.224 1.113.622 1.515l8.249 8.34-8.25 8.34a2.16 2.16 0 0 0-.548 2.07c.196.74.768 1.317 1.499 1.515a2.104 2.104 0 0 0 2.048-.555l9.758-9.866a2.153 2.153 0 0 0 0-3.03L8.62.61C7.812-.207 6.45-.207 5.622.63z"></path></svg></h3>
       
            </div>

          </div>
         
        
         
     

          
          <div >
            <div class="row justify-content-left d-flex">
              <div class="col-md-4 d-flex flex-column">
                <div class="rating-box">
                  <h1 class="pt-4">{{ movie.note | number : '1.2-2' }}</h1>
                  <p class="">/ 20 </p>
                </div>
                <div>
                  <h2 style="font-size: 2em" ><i  class="ml-3 star"  [attr.data-star]=" movie.note /4"  > </i></h2>
    
                </div>
              </div>
              <div class="col-md-8">
                <div class="rating-bar0 justify-content-center">
                  <table class="text-left mx-auto">
                    <tr>
                      <td class="rating-label">Excellent</td>
                      <td class="rating-bar">
                        <div class="bar-container">
                            <div class="bar-5" [ngStyle]="{'width.%': (this.excellent / this.notes.length ) * 100}"></div>
                          </div>
                      </td>
                      <td class="text-right">{{excellent}}</td>
                    </tr>
                    <tr>
                      <td class="rating-label">Tres bon</td>
                      <td class="rating-bar">
                        <div class="bar-container">
                            <div class="bar-4" [ngStyle]="{'width.%': (this.tresbon / this.notes.length ) * 100}"></div>
                          </div>
                      </td>
                      <td class="text-right">{{tresbon}}</td>
                    </tr>
                    <tr>
                      <td class="rating-label">Bien</td>
                      <td class="rating-bar">
                        <div class="bar-container">
                            <div class="bar-3"  [ngStyle]="{'width.%': (this.bon / this.notes.length ) * 100}"></div>
                          </div>
                      </td>
                      <td class="text-right">{{bon}}</td>
                    </tr>
                    <tr>
                      <td class="rating-label">Moyen</td>
                      <td class="rating-bar">
                        <div class="bar-container">
                            <div class="bar-2"  [ngStyle]="{'width.%': (this.moyen / this.notes.length ) * 100}"></div>
                          </div>
                      </td>
                      <td class="text-right">{{moyen}}</td>
                    </tr>
                    <tr>
                      <td class="rating-label">Nul</td>
                      <td class="rating-bar" >
                        <div class="bar-container">
                            <div class="bar-1"   [ngStyle]="{'width.%': (this.nul / this.notes.length ) * 100}"></div>
                          </div>
                      </td>
                      <td class="text-right">{{nul}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div>
          
    
  </div> </div>
    <div class="grid-item-2">
      <h3 class="ipc-title__text">Films liés...<span class="ipc-title__subtext"></span></h3>

        <div *ngFor="let m of moviesLike" class="example-2 card" >
          <div class="wrapper" style="   background: url({{m.posterURL}}) center / cover no-repeat; cursor:pointer" routerLink="/movie/{{m._id}}">
            <div class="header">
              <div class="date">
                <span class="day"><i  class="ml-3 star"  [attr.data-star]=" m.note /4"  > </i></span>
            
              </div>
              <ul class="menu-content">
                <li>
                  <a  class="fa fa-bookmark-o"></a>
                </li>
                <li><a class="fa fa-heart-o"><span>{{m.note}}/20</span></a></li>
              </ul>
            </div>
            <div class="data">
              <div class="content">
                <span class="author">{{m.realisateur}}</span>
                <h1 class="title"><a >{{m.titre}}</a></h1>
                <p class="text">{{m.anneeSortie}}</p>
                <a  class="button">Découvrir</a>
              </div>
            </div>
          </div>
        </div>
      
    </div>
    
</div>




<app-movie-comments [movie]="movie"  (refresh)="refresh()" ></app-movie-comments>