<p>movie works!</p>


<h1>{{movie.titre}}</h1>
<p>{{movie.description}}</p>

<!-- <iframe 
         

           
src={{urlTrailer}}
iv_load_policy="3"
title="YouTube video player" 
frameborder="0"
 allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
  allowfullscreen></iframe> -->

  <div class="flex flex-col flex-auto w-full h-full xs:p-2  " style="background-color: red">
    <div class="row">
        <div class="col-md-3">
            <h1>{{movie.titre}}</h1>
        </div>
        <div class="col-md-3">
            <youtube-player 
            #player
            [videoId]="videoId"
            (ready)="onReady()"
            (stateChange)="onStateChange($event)"
          ></youtube-player>
        </div>


</div>
  </div>
