body{
    min-height: 80%;
  }
  @keyframes linemove {
    from {left: 0px;}
  to {left: 200px;}
}
  .vod-part {
    box-shadow: inset 0px 3px 15px 3px rgb(0 0 0 / 60%);
    border-radius: 15px;
    height: 295px;
    margin-top: 26px;
    margin-left: -1000px;
    margin-right: 65px;
    animation: linemove 3999999s linear infinite;
    
}

@keyframes linemove {
    100% {margin-left: -99999999px;}
}
 

.vod-line.one {
    background-image: url("https://raw.githubusercontent.com/Mondherlol/TLB/main/src/assets/res/img/vod-1.png");
    margin-bottom: 2px;
    border-top-right-radius: 15px;
}
.vod-line {
    height: calc((100% - 4px) /3);
    background-size: auto 100%;
    background-repeat-y: no-repeat;
    position: relative;
    z-index: -1;
}
.vod-line.two {
    background-image: url("https://raw.githubusercontent.com/Mondherlol/TLB/main/src/assets/res/img/vod-2.png");
    margin-bottom: 2px;
}
.vod-line.three {
    background-image: url("https://raw.githubusercontent.com/Mondherlol/TLB/main/src/assets/res/img/vod-3.png");
    border-bottom-right-radius: 15px;
}

.styleCard{
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    // margin:50px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    cursor: pointer;
    margin: 25px;
    background-color: black;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.48); 
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.48);
    border-radius: 10px;
  /*   background-image: url(https://i.imgur.com/VqgIGmN.png);
    background-repeat: no-repeat;
    background-size: cover; */
    width: 275px;
    height: 400px;
    overflow: hidden;
    position: relative;
    z-index: 1;  
  }
  
  .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.8;
  }
  
  .card-spacing {
    padding-top: 200px;  
    transition: padding 0.2s; 
  }
  
  .card-content {
    padding-top: 80px;
    padding-left: 12px;
    padding-right: 12px;
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%);
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 15%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 15%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    height: 100vh;
  
  }
  
  
  .description {
    padding: 15px 0 0 0; 
  }
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;  
  }
  
  .tagbox {
    display: inline-block;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.75rem;
  }
  
  .Fantasy {
    background-color: purple;
  }
  
  .Sci {
    background-color: pink;
  }
  .Animation {
    background-color: rgb(0, 160, 160);
  }
  .Aventure{
    background-color: rgb(255, 48, 48);
  }
  .Psychologique{
    background-color: white;
    color: black;
  }
  .Horreur{
    background-color: black;
    border: 1px white solid;
  }
  
  .cast-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .cast-circle {
    position: relative;
    width: 50px;
    height: 50px; 
  }
  
  .cast-circle img {
      position: absolute;
      width: 40px;
      height: 40px; 
      object-fit: cover;
      border-radius: 50%;
      border: white 3px solid;
  }
  .ordr-nw-bttn {
    background: #ec3655;
    color: #fff;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 3px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}