.container-fluid {
    background-size: cover;
    min-height: 100vh;
    text-align: center;
}
.smb {
    color:red;
    font-weight: bold;
    background-image: url("https://wallpaper.dog/large/7356.jpg");
}
.sonic {
    color:white;

    background-image: url("https://img.wattpad.com/userbg/KuraiXMegami.93699.jpg");

}