<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TLB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="accueil">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="catalogueMovies">Films et Séries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="addMovie">Ajouter Film</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Voir Plus
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Jeux</a></li>
              <li><a class="dropdown-item" href="#">Vidéos</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Coming Soon</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">V.0</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Rechercher</button>
          <a class="nav-link"  *ngIf="!connecte" routerLink="login">Connexion</a>
          <a class="nav-link" *ngIf="!connecte"  routerLink="signup">S'inscrire</a>
          <a class="nav-link" *ngIf="connecte"><i class="fas fa-user"></i></a>
        </form>
      </div>
    </div>
  </nav> -->

  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" routerLink="/accueil">

      TLB
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="buttonsNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      mdbCollapse
      #buttonsNav="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/catalogueMovies">Catalogue Films</a>
        </li>
        <li class="nav-item" *ngIf="connecte">
          <a class="nav-link" routerLink="/addMovie">Ajouter Film</a>
        </li>
   
      </ul>

      <!--Center-->
      <ul class="navbar-nav flex-row d-none d-md-flex">
   
          <li class="nav-item " style="margin-right: 30px!important;" >
            <form [formGroup]="searchFormGroup" (ngSubmit)="search()">
            <div class="input-group" >
             

         
              <mdb-form-control>
                <input mdbInput  formControlName="titre"  type="search"  id="form1" class="form-control"    list="movieList" style="width:500px;"/>
                
<datalist id="movieList">
  <option *ngFor="let m of movies"  value="{{m.titre}}">

  </datalist>  
                <label mdbLabel class="form-label" for="form1">Cherchez un film</label>
              </mdb-form-control>
              
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>

          </li>
      
       
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-link px-3 me-2" routerLink="/login" *ngIf="!connecte">
          Connexion
        </button>
        <button type="button" class="btn btn-primary me-3" routerLink="/signup" *ngIf="!connecte">
          S'inscrire
        </button>
    
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="connecte">
                           <!-- Avatar -->
                           <li mdbDropdown class="nav-item dropdown">
                            <a
                              class="nav-link dropdown-toggle d-flex align-items-center"
                              id="navbarDropdownMenuLink"
                              role="button"
                              mdbDropdownToggle
                              aria-expanded="false"
                            >
                              {{ currentUser.pseudo | uppercase }}
                              <img
                                src="{{currentUser.pdp}}"
                                class="rounded-circle"
                                height="35"
                                alt=""
                                loading="lazy"
                              />
                            </a>
                            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li>
                                <a class="dropdown-item" routerLink="/monProfil">Mon profil</a>
                              </li>
                              <li>
                                <a class="dropdown-item" routerLink="/users">Utilisateurs</a>
                              </li>
                              <li>
                                <a class="dropdown-item" id="deconnexion" (click)="logout()">Déconnexion</a>
                              </li>
                            </ul>
                          </li>
                
        </ul>
 
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->