

  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" routerLink="/accueil">

      TLB

      <span class="text-muted" style="font-size:small; margin-left: 5px; padding-top:10%;"> 1.02</span>
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="buttonsNav.toggle()"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div
      class="collapse navbar-collapse"
      id="navbarButtonsExample"
      mdbCollapse
      #buttonsNav="mdbCollapse"
    >
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/catalogueMovies">Catalogue Films</a>
        </li>
        <li class="nav-item" *ngIf="connecte">
          <a class="nav-link" routerLink="/addMovie">Ajouter Film</a>
        </li>
   
      </ul>

      <!--Center-->
      <ul class="navbar-nav flex-row d-none d-md-flex">
   
          <li class="nav-item " style="margin-right: 30px!important;" >
            <form [formGroup]="searchFormGroup" (ngSubmit)="search()">
            <div class="input-group" >
             

         
              <mdb-form-control>
                <input mdbInput  formControlName="titre"  type="search"  id="form1" class="form-control"    list="movieList" style="width:500px;"/>
                
<datalist id="movieList">
  <option *ngFor="let m of movies"  value="{{m.titre}}">

  </datalist>  
                <label mdbLabel class="form-label" for="form1">Cherchez un film</label>
              </mdb-form-control>
              
              <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </form>

          </li>
      
       
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-link px-3 me-2" routerLink="/login" *ngIf="!connecte">
          Connexion
        </button>
        <button type="button" class="btn btn-primary me-3" routerLink="/signup" *ngIf="!connecte">
          S'inscrire
        </button>
    
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="connecte">
                           <!-- Avatar -->
                           <li mdbDropdown class="nav-item dropdown">
                            <a
                              class="nav-link dropdown-toggle d-flex align-items-center"
                              id="navbarDropdownMenuLink"
                              role="button"
                              mdbDropdownToggle
                              aria-expanded="false"
                            >
                              {{ currentUser.pseudo | uppercase }}
                              <img
                                src="{{currentUser.pdp}}"
                                class="rounded-circle"
                                height="35"
                                alt=""
                                loading="lazy"
                              />
                            </a>
                            <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <li>
                                <a class="dropdown-item" routerLink="/monProfil">Mon profil</a>
                              </li>
                              <li *ngIf="currentUser.admin">
                                <a class="dropdown-item" routerLink="/users">Utilisateurs</a>
                              </li>
                              <li>
                                <a class="dropdown-item" id="deconnexion" (click)="logout()">Déconnexion</a>
                              </li>
                            </ul>
                          </li>
                
        </ul>
 
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->