
<div class="container-fluid " class="styleCard"  >


 <div class="col-md-2" style="border: 2px grey solid;">
      
     <form>
      <div>

 
        <label class="form-label">Note minimale</label>
        <select class="form-control">
          <option value="0">Aucune</option>
          <option value="1">⭐</option>
          <option value="2">⭐⭐</option>
          <option value="3">⭐⭐⭐</option>
          <option value="4">⭐⭐⭐⭐</option>
          <option value="5">⭐⭐⭐⭐⭐</option>

        </select>
      </div>
      <form>


        <label class="form-label">Theme</label>
        <select class="form-control">
          <option value="Aventure">Aventure</option>
          <option value="Action">Action</option>
          <option value="Comédie">Comédie</option>
          <option value="Psychologique">Psychologique</option>
          <option value="Horreur">Horreur</option>
        </select>
      </form>

     </form>
</div>
    <div class="row  "  >
    
       <div *ngFor="let m of movies"   class="col" style="border: 5px red solid;">
    
         
        <div class="card" id="{{m._id}}" (mouseover)="afficher(m._id)" (mouseout)="cacher(m._id)"
         style="background-image: url({{m.posterURL}});
        background-repeat: no-repeat;
        background-size: cover;"> 
          <div class="card-spacing"></div>
          <div class="card-content">
          <h2>{{m.titre}} {{m.AnneeSortie}}</h2>
          <p class="rating"> <i style="font-size:25px" class="ml-3 star"  [attr.data-star]="m.note/4"  > </i> {{m.note | number : '1.2-2'}} / 20 </p>
          <div class="tags" >
            <div *ngFor="let t of m.themes" class="tagbox">
                <div class="tagbox {{t}}">{{t}}</div>
    
            </div>
    
          </div>
        
      
          <div class="card-footer " style="text-align:center;">
            <div class="row">
              <a class="btn btn-outline-primary" routerLink="/movie/{{m._id}}"> VOIR PLUS</a>
              <button class="btn btn-outline-danger" (click)="deleteMovie(m._id)"> SUPPRIMER</button>
            </div>
    
    
            </div>
    
          </div>
    
        
        </div>
        
       </div>
    </div>
        </div>
    
    
        <div class="row landing-hosting">
            <div class="col-md-6">
                <div class="vod-part">
                    <div class="vod-line one"></div>
                    <div class="vod-line two"></div>
                    <div class="vod-line three"></div>
                </div>
            </div>
            <div class="col-md-6">
                <br><br><h3>Vous ne trouvez pas un film en particulier ?<span style="color: #d81f26;"> Ajoutez-le !</span></h3>
          
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae enim sed metus porttitor venenatis eu a sem. Integer a sem scelerisque, faucibus purus quis, vestibulum sem.            </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.            </p>
                <a class="ordr-nw-bttn" routerLink="/addMovie">Ajouter un Film</a>
            </div>
        </div>
    
 