
<div style="display:flex; justify-content: right; text-align: right; cursor: pointer; font-size: large; margin-right: 50px; margin-top: 20px; margin-bottom: 5px;">
  
    <p style="padding-right: 10px;">
      Trier par : 
     </p><a class="sort"  style="padding-right: 10px;"  (click)="sortAlpha()">
      <span *ngIf="triAlpha">
        <i class="fas fa-arrow-down-a-z"></i>
      </span>
      <span *ngIf="!triAlpha">
        <i class="fas fa-arrow-down-z-a"></i>
      </span>
       Alpha
      </a>
      <a  class="sort" (click)="sortNote()">
        <span *ngIf="triNote">
          <i class="fas fa-arrow-down-1-9"></i>
        </span>
        <span *ngIf="!triNote">
          <i class="fas fa-arrow-down-9-1"></i>
        </span>
        Note
      </a>
 
 
</div>

<div class="container-fluid " class="styleCard"  >


 <div   class="  row  filtres"    >



  <a class="btn btn-warning" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" style="width: 75px; height: fit-content;">
   <i class="fas fa-rectangle-list"></i> Filtre <i class="fas fa-angle-down"></i>
  </a>

  

      <form class="collapse"  id="collapseExample" [formGroup]="filtreFormGroup" (ngSubmit)="filtrer()"  style="width: 200px; "  > 

        <div>

          <h2 style="font-size: large; color:rgb(56, 56, 56)">Filtrer par...</h2>
          <label class="form-label">Note Maximale</label>
          <select formControlName="noteMax" class="form-control" >
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
  
          </select>
        </div>
        <label class="form-label">Theme</label>
        <select formControlName="theme" class="form-control">
          <option value="Tous">Tous</option>
          <option value="Aventure">Aventure</option>
          <option value="Action">Action</option>
          <option value="Comédie">Comédie</option>
          <option value="Psychologique">Psychologique</option>
          <option value="Horreur">Horreur</option>
          <option value="Animation">Animation</option>
          <option value="Drame">Drame</option>
          <option value="Romantique">Romantique</option>
          <option value="Fantastique">Fantastique</option>
          <option value="Mystère">Mystère</option>
          <option value="Science-Fiction">Science-Fiction</option>

        </select>
        <input type="submit" class="btn btn-primary" value="VALIDER">
      </form>

  
</div>
    <div class="row  "  >
      <div *ngIf="!charger">
        <div class="spinner-border text-primary" role="status" >
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    <div *ngIf="movies.length ==0 && charger">
      <h1 class="text-muted">Aucun résultat.</h1>
    </div>
    
       <div *ngFor="let m of movies"   class="col" >
    
       
        <div class="card" id="{{m._id}}" (mouseover)="afficher(m._id)" (mouseout)="cacher(m._id)  "  [routerLink]="!connecte ? ['/movie/',m._id]:[]"
         style="background-image: url({{m.posterURL}});
        background-repeat: no-repeat;
        background-size: cover;"> 
          <div class="card-spacing" ></div>
          <div class="card-content" >
            <div routerLink="/movie/{{m._id}}">
          <h2>{{m.titre}} {{m.AnneeSortie}}</h2>
          <p class="rating"> <i style="font-size:25px" class="ml-3 star"  [attr.data-star]="m.note/4"  > </i> {{m.note | number : '1.2-2'}} / 20 </p>
          <div class="tags" >
            <div *ngFor="let t of m.themes" class="tagbox">
                <div class="tagbox {{t}}">{{t}}</div>
            </div>
    
          </div>
        
      </div>
          <div class="card-footer " style="text-align:center;">
            <div class="row">
              <!-- <a class="btn btn-primary btn-rounded "  routerLink="/movie/{{m._id}}"> VOIR PLUS</a>  -->
              <button (click)="modifierMovie(m._id)" *ngIf="connecte " class="btn btn-secondary btn-rounded" style="margin-top: 8px;" > MODIFIER</button>
              <button (click)="deleteMovie(m._id)" *ngIf="connecte" class="btn btn-danger btn-rounded" style="margin-top: 8px;" > SUPPRIMER</button>
            </div>
    
    
            </div>
    
          </div>
    
        
        </div>
        
       </div>
    </div>
        </div>
    
    
        <div class="row landing-hosting">
            <div class="col-md-6">
                <div class="vod-part">
                    <div class="vod-line one"></div>
                    <div class="vod-line two"></div>
                    <div class="vod-line three"></div>
                </div>
            </div>
            <div class="col-md-6">
                <br><br><h3>Vous ne trouvez pas un film en particulier ?<span style="color: #d81f26;"> Ajoutez-le !</span></h3>
          
                <p> 
                  Faites découvrir à tout le monde vos films préférés, ou au contraire les pires horreurs qui risqueraient de leur faire perdre leur temps et qu'ils devraient fuir, grâce à vos reviews de films ! 
                </p>
                <p>
                    Connectez-vous et ajouter un film en cliquant sur le bouton ci-dessous, ou directement dans la barre du haut.         </p>
                <a class="ordr-nw-bttn" routerLink="/addMovie">Ajouter un Film</a>
            </div>
        </div>
    
 