/* You can add global styles to this file, and also import other style files */
.notif-success {
    border-color: #c3e6cb !important;
    max-width: 800px;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// MDB SCSS
@import "~mdb-angular-ui-kit/assets/scss/mdb.scss";

.error-snackbar{
  background-color:brown;
  color: white;
}

@media only screen and (max-width: 600px) {
  div > youtube-player > iframe {
    width: 100%;
  }
}

